@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: fadeIn 1s ease-in-out; /* Animación de entrada */
}

header {
    background-color: #87CEFA;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #005f7f;
    color: #fff;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #005f7f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
    background-color: #005f7f;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content li a:hover,
.dropdown-content li a:focus {
    background-color: #003f5f;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s forwards; /* Asegura que la animación sea hacia adelante */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

main {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.welcome-section h1 {
    font-size: 4em;
    color: #1a8472;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(#2bcee4, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.523);
}

.welcome-section .logo {
    width: 200px;
    margin: 30px 0;
}

.welcome-section p {
    font-size: 1.5em;
    color: #555;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* Estilos adicionales para el dashboard */
.dashboard-header {
    background-color: #87CEFA;
}

.dashboard-header .logo {
    font-size: 28px;
    color: #fff;
}

.dropdown-content li a i {
    margin-right: 8px;
}

.profile-icon {
    font-size: 1em; /* Ajusta el tamaño del icono */
    vertical-align: middle; /* Alinea el icono verticalmente con el texto */
}