@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    animation: fadeIn 1s ease-in-out;
    /* Animación de entrada */
}

header {
    background-color: #87CEFA;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #005f7f;
    color: #fff;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #005f7f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
    background-color: #005f7f;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content li a:hover,
.dropdown-content li a:focus {
    background-color: #003f5f;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s forwards;
    /* Asegura que la animación sea hacia adelante */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.welcome-section h1 {
    font-size: 4em;
    color: #1a8472;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(#2bcee4, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.523);
}

.welcome-section .logo {
    width: 200px;
    margin: 30px 0;
}

.welcome-section p {
    font-size: 1.5em;
    color: #555;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* Estilos adicionales para el dashboard */
.dashboard-header {
    background-color: #87CEFA;
}

.dashboard-header .logo {
    font-size: 28px;
    color: #fff;
}

.dropdown-content li a i {
    margin-right: 8px;
}

.profile-icon {
    font-size: 1em;
    /* Ajusta el tamaño del icono */
    vertical-align: middle;
    /* Alinea el icono verticalmente con el texto */
}



/* Estilos específicos para la página de Relajación Guiada */
body.relajacion-guiada {
    background: #ffffff !important;
    /* Fondo blanco */
    background-size: cover;
}

.relajacion-guiada-main {
    height: auto;
    /* Asegura que el main tenga altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    /* Añade un poco de padding */
}

.relajacion-guiada-section {
    background-color: #e3f2fd;
    /* Fondo claro */
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.relajacion-guiada-section img.relajacion-guiada-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.relajacion-guiada-section h1 {
    font-size: 3em;
    color: #1e88e5;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

.relajacion-guiada-section p {
    font-size: 1.3em;
    color: #424242;
    font-family: 'Lora', serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Estilos específicos para la página de Aromaterapia */
body.aromaterapia {
    background: #f5f5f5 !important;
    /* Fondo gris claro */
    background-size: cover;
}

.aromaterapia-main {
    height: auto;
    /* Asegura que el main tenga altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
    /* Añade un poco de padding */
}

.aromaterapia-section {
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
}

.aromaterapia-section img.aromaterapia-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aromaterapia-section h1 {
    font-size: 2.5em;
    color: #16a085;
    /* Color diferente para el título */
    font-family: 'Georgia', serif;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.aromaterapia-section p {
    font-size: 1.2em;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Estilos específicos para la página de Ejercicios de Respiración */
body.ejercicios-respiracion {
    background: #e0f7fa !important;
    /* Fondo azul claro */
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.ejercicios-respiracion-main {
    height: auto;
    /* Asegura que el main tenga altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 60px;
    /* Añade un poco de padding */
}

.ejercicios-respiracion-section {
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 0 auto;
}

.ejercicios-respiracion-section img.ejercicios-respiracion-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.ejercicios-respiracion-section h1 {
    font-size: 2.8em;
    color: #390079;
    /* Color diferente para el título */
    font-family: 'Georgia', serif;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ejercicios-respiracion-section p {
    font-size: 1.3em;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    padding: 25px;
    background-color: #b2ebf2;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para la página de Meditación */
body.meditacion {
    background: #fff3e0 !important;
    /* Fondo naranja claro */
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.meditacion-main {
    height: auto;
    /* Asegura que el main tenga altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 60px;
    /* Añade un poco de padding */
}

.meditacion-section {
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 0 auto;
}

.meditacion-section img.meditacion-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.meditacion-section h1 {
    font-size: 2.8em;
    color: #d32f2f;
    /* Color diferente para el título */
    font-family: 'Georgia', serif;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.meditacion-section p {
    font-size: 1.3em;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    padding: 25px;
    background-color: #ffe0b2;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilos específicos para la página de Citas con Psiquiatras y Psicólogos */
body.citas {
    background: #f0f4c3 !important;
    /* Fondo verde claro */
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.citas-main {
    height: auto;
    /* Asegura que el main tenga altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 60px;
    /* Añade un poco de padding */
}

.citas-section {
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 0 auto;
}

.citas-section img.citas-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.citas-section h1 {
    font-size: 2.8em;
    color: #ef330d;
    /* Color diferente para el título */
    font-family: 'Georgia', serif;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.citas-section p {
    font-size: 1.3em;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    padding: 25px;
    background-color: #dcedc8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilos específicos para la página de Estrés */
body.estres {
    background: #ffe6e6 !important;
    /* Fondo rosa claro */
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.estres-main {
    height: auto;
    /* Asegura que el main tenga altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px;
    /* Añade un poco de padding */
}

.estres-section {
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
}

.estres-section img.estres-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.estres-section h1 {
    font-size: 2.5em;
    color: #b71c1c;
    /* Color diferente para el título */
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.estres-section p {
    font-size: 1.2em;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffcccb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* Estilos específicos para la página de Ansiedad */
body.ansiedad {
    background: #e0f7fa !important; /* Fondo azul pastel claro */
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.ansiedad-main {
    height: auto; /* Asegura que el main tenga altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 60px; /* Añade un poco de padding */
}

.ansiedad-section {
    background-color: #ffffff; /* Fondo blanco */
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 0 auto;
}

.ansiedad-section img.ansiedad-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.ansiedad-section h1 {
    font-size: 2.8em;
    color: #7e57c2; /* Color pastel diferente para el título */
    font-family: 'Georgia', serif;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ansiedad-section p {
    font-size: 1.3em;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    padding: 25px;
    background-color: #f3e5f5; /* Fondo pastel para el texto */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #7e57c2; /* Color pastel para el pie de página */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


/* Estilos específicos para la página de Depresión */
body.depresion {
    background: #f3e5f5 !important; /* Fondo morado pastel claro */
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.depresion-main {
    height: auto; /* Asegura que el main tenga altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 60px; /* Añade un poco de padding */
}

.depresion-section {
    background-color: #ffffff; /* Fondo blanco */
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 0 auto;
}

.depresion-section img.depresion-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.depresion-section h1 {
    font-size: 2.8em;
    color: #5e35b1; /* Color pastel diferente para el título */
    font-family: 'Georgia', serif;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.depresion-section p {
    font-size: 1.3em;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    padding: 25px;
    background-color: #e8eaf6; /* Fondo pastel para el texto */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #5e35b1; /* Color pastel para el pie de página */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
