/* contenido.css */

/* Estilos específicos para la parte de bienvenida */
body .welcome-section {
    background-color: #e3f2fd; /* Fondo claro */
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body .welcome-section img.welcome-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

body .welcome-section h1 {
    font-size: 3em;
    color: #1e88e5;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}

body .welcome-section p {
    font-size: 1.3em;
    color: #424242;
    font-family: 'Lora', serif;
    line-height: 1.8;
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
